[submodule "data/public"]
	path = data/public
	url = https://github.com/AuiDrome/auidrome_public_data.git
[submodule "data/protected"]
	path = data/protected
	url = git@github.com:the-cocktail/auidrome_protected_data.git
[submodule "data/private"]
	path = data/private
	url = https://github.com/AuiDrome/auidrome_private_data.git
