[submodule "data/public"]
	path = data/public
	url = ../auidrome_public_data/
[submodule "data/protected"]
	path = data/protected
	url = ../auidrome_protected_data/
[submodule "data/private"]
	path = data/private
	url = ../auidrome_private_data/
